<div class="container">
    <div class="row">
        <div class="col-5">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">UserName</label>
                    <input class="form-control" type="text" formControlName="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="text" formControlName="password">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="text" formControlName="email">
                </div>
                <input type="submit" value="Enviar" class="btn btn-block btn-dark">
            </form>
        </div>
        <div class="col-3 offset-1">
            <div id="imagenGirl"></div>
        </div>
        <div class="col-3">
            <div id="imagen"></div>
        </div>
    </div>
</div>