<h2>Lista profesores</h2>
<div class="container">
    <table class="table table-dark table-hover">
        <ul>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Experiencia</th>
                </tr>
            </thead>
            <thead *ngFor="let profesor of profesores">
                <tr>
                    <td>{{profesor.nombre}}</td>
                    <td>{{profesor.experiencia}}</td>
                </tr>
            </thead>
        </ul>

    </table>
</div>