<h1>Lista Clientes</h1>
<div class="container">
    <table class="table table-dark table-hover">
        <ul>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edad</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Cuota</th>
                    <th scope="col">Fecha de inscripción</th>
                    <th scope="col">Fecha de nacimiento</th>
                </tr>
            </thead>
            <thead *ngFor="let cliente of clientes">
                <tr>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellidos}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.edad}}</td>
                    <td>{{cliente.dni}}</td>
                    <td>{{cliente.sexo}}</td>
                    <td>{{cliente.cuota}}</td>
                    <td>{{cliente.fecha_inscripcion | date}}</td>
                    <td>{{cliente.fecha_nacimiento | date}} </td>
                    <!-- <button class="btn btn-warning">Modificar</button> -->
                </tr>
            </thead>
        </ul>
    </table>
</div>